<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file -->
	<context:property-placeholder location="classpath:sport.properties"/>

	<!-- Define your beans here -->
<!--	<bean id="myCoach" class="com.springdemo.BaseballCoach">-->
<!--	</bean>-->

	<!-- define the dependency -->
	<bean id="fortuneService" class="com.springdemo.FortuneServiceImpl">
	</bean>

<!--	<bean id="myCoach" class="com.springdemo.SkateboardCoach">-->
<!--		&lt;!&ndash;set up constructor injection &ndash;&gt;-->
<!--		<constructor-arg ref="fortuneService"/>-->
<!--	</bean>-->

	<bean id="myCoach" class="com.springdemo.TrackCoach">
		<!--set up constructor injection -->
		<constructor-arg ref="fortuneService"/>
	</bean>

	<bean id="cricketCoach" class="com.springdemo.CricketCoach">
		<!--set up setter injection -->
		<property name="fortuneService" ref="fortuneService"/>
		<!--inject literal values -->
<!--		<property name="email" value="akinkunmioluwadamiloju@gmail.com" />-->
<!--		<property name="firstName" value="Sarah" />-->

		<!--injecting properties -->
		<property name="firstName" value="${name}"/>
		<property name="email" value="${email}"/>
	</bean>
</beans>